h2, h3, h4, h5{
  color: red;
  font-family: sans-serif;
}

caption, th{
  font-weight: bold;
  color: blue;
}

#scoreBoard, th, td{
  border: 0.5px solid black;
  text-align: center;
}

ul > li > img{
  list-style: none;
display: none;

}

#teamRoster>li:first-child{
  background-image: url(https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg);
  background-repeat: no-repeat;
  padding: 30px;

}

    #teamRoster>li:last-child{
      background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg);
      background-repeat: no-repeat;
      padding: 30px;



    }

ul > li > ol > li:nth-child(1){
  font-weight: bold;
}

ul{
  list-style-type: square;
}

.hyperLink{
    text-decoration: none;
}

.hyperLink:hover{
  background-color:lightgreen;
}

blockquote{
  background-color: black;
  color: lightgreen;
}

#checkbox-grid{ list-style-type: none;}

tr:nth-child(2){
  background-color: lightgray;

}
